.innerContainer{
    width: 100%;
    height: 100vh;
}

.innerCol{
    backdrop-filter: blur(20px) saturate(141%);
    -webkit-backdrop-filter: blur(20px) saturate(141%);
    background-color: rgba(17, 25, 40, 0.24);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 1rem;
    border-radius: 1rem;
    font-family: "Roboto Condensed", sans-serif;
}

.innerCol h2{
    display: flex;
    font-weight:700;
    font-size: 2rem;
    margin: 1rem 0rem;
    font-style: italic;
    align-items: center;
    flex-direction: column;
    text-decoration: underline;
}

.innerCol input{
    padding: 0.5rem;
    padding-left: 1rem;
}

.innerCol a{
    font-style: italic;
    color: var(--purple);
}

.innerCol button{
    font-weight: 700;
    font-style: italic;
    margin: 0 0 0 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    background: var(--purple-gradient);
    transition: all ease-in-out 0.5s;
}

.innerCol button:hover{
    box-shadow: 2px 2px 5px var(--white);
}