@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
header {
  width: 100%;
  position: fixed;
  top: 0; /* Stick to the top of the viewport */
  z-index: 1000; /* Ensure it stays on top of other content */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-toggler {
  background-color: var(--black) !important;
}

.navLogo img {
  width: 100px !important;
  height: 90px;
  border-radius: 2rem;
}

.links {
  color: var(--white);
  text-decoration: none;
  font-weight: 700;
  padding: 0.2rem;
  border-radius: 0.5rem;
  transition: all ease-in-out 0.5s;
}

.links:hover {
  background: var(--purple-gradient);
}

.links:focus {
  background: var(--purple-gradient);
}

.drop_Links {
  color: var(--white);
  text-decoration: none;
}

.navbar-toggle-custom {
  background: var(--purple-gradient);
}

.nav-dropdown {
  border-radius: 1rem;
  background: var(--purple-gradient);
}

/* Change dropdown background color */
.nav-dropdown .dropdown-menu {
  background-color: var(--black);
  border: 2px solid var(--white);
}

.nav-dropdown .dropdown-item:hover {
  background-color: #4a148c;
  color: white;
}

/* Optional: Style the button */
.nav-dropdown .btn-danger {
  background-color: #d32f2f; /* Red shade */
  border: none;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Ensures the video takes up the full viewport height */
  overflow: hidden; /* Hides any overflowing content */
}

.video-content {
  position: absolute;
  width: 300px;
  height: fit-content;
  bottom: 30px; /* Center the text vertically */
  left: 25px; /* Adjust the horizontal alignment */
  color: var(--white);
  text-align: center; /* Center-align the text */
  z-index: 2; /* Ensure it appears above the video */
  background: rgba(0, 0, 0, 0.5); /* Optional gradient background */
  padding: 10px; /* Add padding for better readability */
  border-radius: 10px; /* Rounded corners */
}

.video-container video,
.video-container .react-player {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
  mix-blend-mode: multiply;
}

.overlayBG{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1); /* Optional gradient background */
  z-index: 1;
}

.video-content h1 {
  font-style: italic;
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 1rem;
  background-color: var(--black);
  padding: 5px 10px; /* Optional padding inside the text */
}

.modalBox{
  display: flex;
}

.modalBox input{
  border: none;
  color: var(--black);
  font-weight: 500;
  border-radius: 0.5rem 0 0 0.5rem;
  padding: 0.3rem;
  background-color: var(--white);
}

.modalBox button{
  border: none;
  font-weight: 700;
  padding: 0.3rem 0.5rem;
  background: var(--purple-gradient);
}

.modalBox button:last-child{
  border-radius: 0 0.3rem 0.3rem 0;
}

@media only screen and (max-width: 992px) {
  .links {
    width: 100px;
    padding: 0.5rem;
    text-align: center;
    border-radius: 0.5rem;
    background: var(--purple-gradient);
  }

  .video-content {
    width: 200px;
    height: 150px;
    bottom: 50px;
  }

  .video-content h1{
    font-size: 1rem;
  }

  .video-content p{
    height: 50px;
    font-size: 0.8rem;
    overflow: hidden;
  }
}
