.mainPage {
  width: 100%;
  height: fit-content;
  padding: 1rem;
  background-color: var(--black);
}

.userLeft{
  width: 100%;
  height: fit-content;
  padding: 1rem;
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  background: var(--purple-gradient);
}

.userLeft img{
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
}

.userLeft h3{
  color: var(--white);
}

.userLeft span{
  text-decoration: underline;
  text-shadow: 2px 2px 1px var(--black);
}