.mainBody {
  background-color: black;
}

.allVideosHead h2 {
  font-family: "Yuji Mai", serif;
  color: var(--white);
  font-weight: 700;
}

.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.innerProfile{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--purple);
}

.innerProfile img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.userDetails{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 1rem;
  background-color: var(--black);
}

.userDetails h5{
  font-family: "Playfair Display", serif;
  color: var(--white);
}

.userDetails span{
  color: var(--white);
  margin-bottom: 0.5rem;
}

.profileBtn{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-shrink: 2;
}

.movieCards {
  width: 110%;
  height: 9rem !important;
  margin: 1rem auto;
  padding: 0 1rem;
  position: relative;
  background: transparent !important;
}

.movieCards img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 1rem;
  border: 2px solid var(--purple);
  border-radius: 1rem;
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.movieCards:hover img {
  transform: scale(1.1); /* Zoom effect on hover */
}

.movieCards:hover {
  height: 500px;
  perspective: 200px;
}

.movieCard{
  width: 100%;
  height: 55vh !important;
  padding: 0.3rem;
}

.movieCard img{
  width: 100%;
  height: 30vh !important;  
  background-position: center;
}

.card-body{
  width: 100%;
  padding: 0.3rem;
  height: 10vh;
  overflow: hidden;
  background: var(--purple-gradient) !important;
}

.movieCard .h5{
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: underline;
  color: var(--white) !important;
}

.movieCard p{
  color: var(--white);
}

.categoryBtn Button{
  border: 3px solid var(--white);
  background: var(--purple-gradient);
  transition: all linear 0.2s;
}

.categoryBtn Button:hover{
  border: 3px solid var(--purple);
}

.watchHead{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

.watchHead a{
  color: var(--white);
  text-decoration: none;
}

.watchHead h1 {
  font-style: italic;
  font-weight: 700;
  text-wrap: wrap;
  text-decoration: underline;
  color: var(--purple);
  text-align: center;
}

.react-player {
  width: 100% !important;
  position: relative;
}

.video-overlay {
  position: absolute;
  width: 101%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
}

.player-Controls {
  position: absolute;
  width: 200px;
  height: 50px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  right: 0;
  bottom: 0px;
  display: flex;
  z-index: 2;
  justify-content: space-around;
  background: var(--black);
}

.player-Controls button {
  background: transparent;
  border: 1px solid var(--purple);
  transition: all ease-in-out 0.5s;
}

.player-Controls button:hover {
  background: var(--purple-gradient);
}

.descBox {
  padding: 1rem 15rem;
  color: var(--white);
}

.descBox p {
  display: flex;
  justify-content: space-around;
}

.descBox span {
  color: var(--purple);
}

.descBox img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.descBox input {
  width: 80%;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  padding: 0.2rem 0.5rem;
  color: var(--black);
  background-color: var(--white);
}

.descBox input:focus {
  border: 1px solid var(--purple);
}

.reviewAdd input {
  width: 80%;
  font-weight: 600;
  color: var(--white);
  outline: none;
  border: 0;
  padding: 0.5rem 1rem;
  background: transparent;
  border-radius: 0rem;
  transition: all linear 0.2s;
}

.reviewAdd input:focus{
  border-bottom: 2px solid var(--purple);
}

.reviewAdd button {
  border: 0;
  display: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: var(--purple-gradient);
  transition: all linear 0.2s;
}

.reviewAdd input:focus + button{
  display: block;
}

.star {
  cursor: pointer;
  font-size: 24px;
  color: #ffcc00;
  margin: 0 5px;
}

.star input {
  display: none;
}

.star .bi {
  font-size: 30px;
}

.star .bi-star-fill {
  color: #ffcc00;
}

.star .bi-star {
  color: #ddd;
}

.reviewsDisplay img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.reviewsDisplay h5{
  font-weight: 700;
  font-style: italic;
  color: var(--white);
  text-align: center;
}

.reviewsDisplay h6{
  color: var(--white);
}

.reviewsDisplay h6:first-child{
  text-transform: capitalize;
}

.reviewsDisplay p{
  margin: 0;
  padding: 0;
  color: var(--purple);
}

footer {
  color: var(--white);
  background-color: var(--black);
}

aside {
  right: 10px;
  bottom: 20px;
  position: fixed;
  z-index: 2;
}

aside img {
  width: 100px;
  height: 100px;
}
